.repoCard {
  max-width: 260px;
  width: 90%;
  height: 60px;
  border: 1px solid #eeeeee;
  color: #eeeeee;
  border-radius: 5px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 20px 5px;
}

.repoCard h2 {
  font-size: 17px;
}

.repoCard:hover {
  border: 1px solid #32e0c4;
  color: #32e0c4;
}
