.user-page {
  width: 100%;
  padding: 80px 0 0 0;
}

.user-container {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.user-container-dark {
  background: #393e46;
  color: #32e0c4;
}

.user-heading {
  font-size: 30px;
  margin: 10px 0 20px 0;
}

.user-repos,
.user-followers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
}

@media only screen and (max-width: 600px) {
  .user-repos,
  .user-followers {
    width: 90%;
  }
}

.user-follower {
  font-size: 20px;
  width: 150px;
  margin: 10px 30px;
  color: #eeeeee;
  transition: all 0.1s ease;
}

.user-follower:hover {
  color: #32e0c4;
}
